h1 {
    color: #88F9D4;
    font-size: 260px;
    font-weight: normal;
    line-height: 150%;
}
p {
  color: #88F9D4;
  font-size: 300px;
  line-height: 85%;
}
body {
    background-color: #FC4349;
    background-image: url("images/birthday.gif");
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Modak', cursive;
    font-weight: ;
}
